---
box:
  name: boxcutter/centos71
  storage_controller: 'SATA Controller'
debug: false
development: false
bridge_internal: tap0
network_agent: openvswitch
network_type: gre
netmask_internal: 255.255.0.0
secret: password
proxy: http://proxy.dummy.site:3128
storage_backend: nfs
address:
  controller: 10.100.50.10
  network: 10.100.50.30
  storage: 10.100.50.40
  compute: 
  - 10.100.50.20
  - 10.100.50.21
ntp:
- 0.pool.ntp.org
- 1.pool.ntp.org
- 2.pool.ntp.org
- 3.pool.ntp.org
resources:
  memory: 4096
  vcpus: 2
  storage: 65536
components:
  ceilometer: true
  cinder: true
  heat: true
  horizon: true
  ironic: false
  nagios: true
  sahara: false
  swift: true
  tempest: false
  trove: false
