127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# <<< Packstack >>>
{% for name in ['controller', 'network', 'storage', 'nfs', 'shared'] %}
{{ address[name] }} {{ name }}
{% endfor %}
{% for ip in address['compute'] %}
{{ ip }} compute{{ loop.index }} 
{% endfor %}
# >>> Packstack <<<
