NM_CONTROLLED=no
DEVICE=br-ex
DEVICETYPE=ovs
TYPE=OVSBridge
BOOTPROTO=static
IPADDR={{ address.network }}
NETMASK={{ network.external.netmask }}
BROADCAST={{ network.external.broadcast }}
DNS1={{ network.dns1 }}
DNS2={{ network.dns2 }}
